/* VARIABLES */
:root {
  --white: #ffffff;
  --light100: #f8f9f8;
  --light200: #f1f3f1;
  --light300: #eaecea;
  --light400: #e3e6e3;
  --light500: #dde0dc;
  --light600: #d6dad4;
  --light700: #cfd4cd;
  --light800: #c8cdc6;
  --light900: #c1c7bf;
  --light: #bac1b8;

  --dark: #2b303a;
  --dark100: #272b34;
  --dark200: #22262e;
  --dark300: #1e2229;
  --dark400: #1a1d23;
  --dark500: #16181d;
  --dark600: #111317;
  --dark700: #0d0e11;
  --dark800: #090a0c;
  --dark900: #040506;
  --black: #000000;

  --primary: #d64933;
  --secondary: #0c7c59;
  --tertiary: #58a4b0;

  --border: #ffffff30;
  --border2: #ffffff10;

  --hover: #ffffff24;
  --hover2: #ffffff08;

  --gap1: 0.6rem;
  --gap2: 1.2rem;
  --gap3: 4rem;

  --font-family-serif: "Merriweather", Georgia, "Times New Roman", Times, serif;
  --font-family-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  background: inherit;
  border: none;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

/* BASE */
html,
body {
  background-color: var(--dark500);
  color: var(--white);
  height: 100%;

  font-family: var(--font-family-sans);
  font-size: 1.125rem;
  line-height: 1.5;
}
h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 2rem;
}

input,
select {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: none;
  color: var(--white);
  border: 1px solid var(--border);
  font-size: 0.9rem;
}

option {
  color: var(--dark500);
  background: var(--white);
  border: 1px solid transparent;
  border-color: transparent transparent var(--border) transparent;
  cursor: pointer;
}

/* UTILITIES */
/* -------------------------------------------------------------------------- */

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-element {
  display: flex;
}

.svg-element svg {
  height: 100%;
  width: 100%;
}

/* Accessibility */
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}
