.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap2);
  max-width: 1000px;
  margin: 0 auto;
}

.navbar {
  height: 3rem;
  display: flex;
  width: 100%;
}


.logo {
  align-items: center;
  gap: var(--gap1);
}
.logo-icon {
  height: 30px;
}
.logo-text {
  font-family: sans-serif;
  letter-spacing: 3px;
  font-size: 0.9rem;
  color: var(--primary);
  opacity: .7;
}


/* KEYBOARD */
.keyboard {
  max-width: 1700px;
  width: 100%;
  gap: var(--gap1);
}
.keyboard-row {
  gap: var(--gap1);
  min-height: 50px;
}

.keyboard-key {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 3px 6px 3px;
  width: 100%;
  min-height: 40px;
  border-radius: 5px;
  text-transform: lowercase;
  font-size: 1rem;

  background-color: var(--dark300);
  color: var(--light700);
}

.keyboard-key.selected {
  outline-offset: 0;
  outline: 3px solid var(--primary);
}

.keyboard-key.enabled.highlighted {
  background-color: var(--primary);
  color: var(--black);
}
.keyboard-key.highlighted .shift {
  color: var(--black);
  font-weight: normal;
}

.keyboard-key.highlighted .value {
  font-weight: bold;
}

.keyboard-key.enabled:hover {
  background-color: var(--hover);
}
.keyboard-key.enabled.highlighted:hover {
  background-color: var(--light);
}
.keyboard-key.enabled {
  background-color: var(--dark);
}

.keyboard-key .value {
  font-size: 1rem;
  line-height: 1;
}

.keyboard-key .shift {
  font-size: 0.9rem;
  line-height: 1;
  font-weight: 100;
  color: var(--light);
  min-height: 1rem;
}

.keyboard-key > div {
  justify-content: center;
  align-items: center;
  gap: 3px;
}

/* SEARCH */
.search-view {
  border: 1px solid var(--border);
  border-radius: 10px;
  overflow: hidden;
}
.search-view:focus-within {
  border: 1px solid var(--primary);
}

.search-view input {
  border: none;
  flex: 1;
  height: 3rem;
}
.search-view input:focus-visible {
  outline: none;
}
.search-view > button {
  padding: 0 20px;
  border-left: 1px solid var(--border);
}

/* KEYMAP */
.keymap-list {
  width: 100%;
}
.keymap-row {
  display: flex;
  align-items: center;
  min-height: 5rem;
  cursor: pointer;
  padding: 0 var(--gap1);
}

.keymap-row:hover {
  background-color: var(--hover2);
}

.keymap-row .program {
  width: 10%;
  font-size: 1rem;
  font-weight: normal;
  line-height: .9;
  padding: var(--gap1) var(--gap1) var(--gap1) 0;
  border-right: 1px solid var(--border2);
  opacity: 0.4;
}

.keymap-row .description {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.5;
  padding-right: var(--gap1);
  width: 25%;
}

.keymap-row .keymap {
  flex: 1;
  gap: var(--gap1);
}

.keymap-row.selected {
  outline: 1px solid var(--primary);
  background: var(--hover2);
  outline-offset: 2px;
  border-radius: 5px;
}

.keymap-row .keyboard-key {
  min-width: 3rem;
}

.keymap-row-chord {
  padding: 0.7rem 1rem;
  background-color: var(--dark500);
  border: 2px dashed var(--dark);
  border-radius: 1rem;
  gap: var(--gap1);
}
