:root {
  --font-family-header: Arial, Helvetica, sans-serif;
  --font-family-text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --content-width: 1400px;
  --keyboard-min-width: 600px;
  --keyboard-min-height: 300px;

  --color-background: #21252b;
  --color-foreground: #d9d7ce;
  --color-border: #555;
  --color-select: #eddc58;

  --color-white-02: rgba(255, 255, 255, 0.02);
  --color-white-15: rgba(255, 255, 255, 0.15);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-40: rgba(255, 255, 255, 0.4);

  --color-key-inactive: var(--color-white-02);
  --color-key-bound: var(--color-border);
  --color-key-inscope: var(--color-white-15);
  --color-key-match: var(--color-white-20);

  --stripes: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(255, 255, 255, 0.05) 10px,
    rgba(255, 255, 255, 0.05) 20px,
    transparent 20px
  );
}

* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 75%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: var(--font-family-header);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
.hidden {
  display: none !important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--content-width);
  margin: 0 auto;
}
.keyboard_container {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
  align-self: flex-start;
  margin-bottom: 2rem;
}
.details {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
@media only screen and (max-width: 37.5em) {
  .details {
    flex-direction: column;
  }
}

/* -------------------------------------------------------------------------- */
/* KEYBOARD */
/* -------------------------------------------------------------------------- */
.keyboard {
  width: 100%;
  height: 100%;
  min-width: var(--keyboard-min-width);
  min-height: var(--keyboard-min-height);
  display: flex;
  flex-direction: column;
}
.row {
  flex: 1;
  display: flex;
  align-content: stretch;
}
.key__container {
  padding: 0.2%;
}
.key__container:last-child {
  flex: 1;
}
.key {
  padding: 3px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 1.2rem;

  background-color: var(--color-key-inactive);
  color: rgba(255, 255, 255, 0.2);
}
.key--bound {
  border: 1px solid var(--color-key-bound);
  color: var(--color-foreground);
  cursor: pointer;
}
.key--inscope {
  background-color: var(--color-key-inscope);
  color: var(--color-foreground);
  cursor: pointer;
}
.key--partial {
  background: var(--color-key-inscope) var(--stripes);
  color: var(--color-foreground);
  cursor: pointer;
}
.key--match {
  border: 1px solid var(--color-white-40);
  background-color: var(--color-key-match);
  color: var(--color-foreground);
  cursor: pointer;
}
.key--selected {
  z-index: 1000;
  outline: var(--color-select) solid 5px;
  outline-offset: 5px;
}
.key--bound:hover,
.key--inscope:hover,
.key--partial:hover,
.key--match:hover {
  transform: scale(1.07);
  z-index: 1000;
}

/* -------------------------------------------------------------------------- */
/* CONTROLS */
/* -------------------------------------------------------------------------- */
.control {
  margin: 0 auto;
  padding: 3rem;
  padding-top: 1rem;
}

.control__scope {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.control__scope_select {
  flex: 1;
  border: 1px solid var(--color-border);
  font-size: 16px;
  padding: 0.5rem;
}
.control__mask {
  display: flex;
  flex-wrap: wrap;
}

.control__mask_input {
  display: none;
}
.control__mask_label {
  flex: 1;
  padding: 2rem 3rem;
  margin: 0 1rem 1rem 0;
  font-size: 1.4rem;
  text-align: center;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.control__mask_label:last-child {
  margin-right: 0;
}
.control__mask_label:hover {
  transform: scale(1.07);
  z-index: 1000;
}
.control__mask_input:checked + .control__mask_label {
  background-color: var(--color-key-match);
  color: var(--color-white);
}

/* -------------------------------------------------------------------------- */
/* INFO */
/* -------------------------------------------------------------------------- */
.info {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-width: max-content;
}
.command {
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  padding: 1rem;
  min-height: 4rem;
  margin-bottom: 1rem;
}
.command--inactive > * {
  opacity: 0.2;
}
.command--partial {
  background: var(--color-key-inscope) var(--stripes);
}
.command--match {
  background-color: var(--color-key-match);
}
.command__key_container {
  display: flex;
  align-items: center;
}
.command__key {
  border: 1px solid var(--color-white-40);
  background-color: var(--color-key-match);

  text-align: center;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  margin-right: 1rem;
}
.command__name {
  flex: 1;
  text-align: right;
}
